	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

		<targets>
			<target name="fileInfo" xsi:type="File" fileName="${basedir}/logs/logsInfo/${shortdate}.log"
					layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString}" />

			<target name="fileError" xsi:type="File" fileName="${basedir}/logs/logsError/${shortdate}.log"
					layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString}" />
			
		</targets>

		<rules>
			<logger name="*" minlevel="Info" maxlevel="Info" writeTo="fileInfo" />
			<logger name="*" minlevel="Error" writeTo="fileError" />
		</rules>

	</nlog>
